<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">Navbar Universal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home <span class="sr-only">(Go Home )</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="internship">Internship</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Training & Development
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="technology">Technologies</a>
                    <a class="dropdown-item" routerLink="marketing">Marketing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="seo">Seo</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Training & Development
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="service">Service</a>
                    <a class="dropdown-item" routerLink="portfolio">Portfolio</a>
                    <a class="dropdown-item" routerLink="pricing">Pricing</a>
                    <a class="dropdown-item" href="#">Team Member</a>
                    <a class="dropdown-item" href="#">Review</a>
                    <a class="dropdown-item" href="#">Client</a>
                    <a class="dropdown-item" href="#">Skills</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pay</a>
            </li>

        </ul>

    </div>
</nav>

<!--Navbar end-->