body{
    margin: 0;
    padding: 0;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #ddd;} 
.navbar{
    height: 90px;
    
}
.navbar-brand{
    margin-left: 30px;
}
.nav-item:hover .nav-link  {
    background-color: #3e8e41;
}
.nav-item:hover .dropdown-menu{
    display: block;
}
.dropdown-menu a:hover{
    background-color: #ddd;
}
.carousel-item img{
   height: 600px;
}

*/