<div class="video" id="video-container">
  <video width="" src="assets/video/office_video.mp4" autoplay loop></video>
</div>

<div class="aboutus-container">
  <h1>About Us</h1>
  <p>At Navbar Universal We Deliver With Focus On Quality, Integrity <br> And Long Term Relation.
    We have experienced professionals who <br> understand that IT services is changing,
    and are true partners who <br> care about your success.</p>
</div>

<!-- 
<div class="emp-group">
  <div class="emp-group-img"><img src="assets/img/office_emp.jpg" alt=""></div>
  <div class="emp-group-cantent">
    <h2>Welcome to the world of Navbar Universal</h2>
    <p>Trusted by the world's best organizations, for 12 years and running,
      it has been delivering smiles to hundreds of IT advisors, developers, users, and
      business owners. Easy solutions for all difficult IT problems to ensure high availability <br>

      Our biggest strength is our <b>Global Reach</b> . Our ability to cater to any business segments & needs.
      Our experience enables us create unique products. High volume of our work makes us provide value
      added services with wallet friendly charges. Strong ground support and extensive network keeps us
      always a step a head. We are always on Toes and this attitude has given us a strong presence in
      Indian Subcontinent.
    </p>
  </div>


</div> -->

<div class="emp-container">

  <img src="assets/img/office_emp.jpg" alt="">
  <div class="emp-container1">
    <h2>Welcome to the world of Navbar Universal</h2>
    <p>Trusted by the world's best organizations, for 12 years and running,
      it has been delivering smiles to hundreds of IT advisors, developers, users, and
      business owners. Easy solutions for all difficult IT problems to ensure high availability.We are always stand with
      our costomer. <br>

      Our biggest strength is our <b>Global Reach</b> . Our ability to cater to any business segments & needs.
      Our experience enables us create unique products. High volume of our work makes us provide value
      added services with wallet friendly charges. Strong ground support and extensive network keeps us
      always a step a head. We are always on Toes and this attitude has given us a strong presence in
      Indian Subcontinent.
    </p>
  </div>

</div>
<!--
<div class="geeks">
  <div class="gfg1">
    <img src="assets/img/office_emp.jpg" alt="">
    <div class="gfg2">
      A computer science portal for geeks
    </div>
  </div>

</div>

<br><br><br>
<div class="geeks">
  
    <img src="assets/img/office_emp.jpg" alt="">
    <div class="gfg2">
      <h2>hello</h2>
      <p>A computer science portal for geeks</p>
      
    </div>
  

</div>

 -->
<div class="our-container">
  <div class="our-story">
    <img src="assets/img/1.jpg" alt="">
    <div class="our-story-1">
      <h2>Our Story</h2>
      <p>Navbar Group has been serving clients in diverse fields for over 7 years through <b> Navbar
          Health Care Pvt. Ltd, Navbar Wellness, Navbar Store, Lister Health Care Pvt.
          Ltd </b> and <b> Jindal Holiday Bazar Pvt. Ltd. </b> Our objective is to take the business of
        our customers forward through our products and services. The Navbar Universal is the complete
        IT Solution Company and we welcome you to the world of Navbar Universal.
      </p>
    </div>

  </div>
  <div class="our-goal">
    <img src="assets/img/2.jpg" alt="">
    <div class="our-goal-1">
      <h2>Our Goal</h2>
      <p>Improve Efficiency And Provide Better Experience By Our IT Solutions!
        Trusted by the world's best organizations, for 7 years and running,
        it has been delivering smiles to hundreds of IT advisors, developers, users,
        and business owners. Easy solutions for all difficult IT problems to ensure high availability.
        Like <b> Specific, Measureable, Achievable, Realistic, Time-bound. </b>
      </p>
    </div>
  </div>
</div>

<div class="services">
  <h1>Services</h1>
  <p>National Service, Local Expertise Offer The Latest Software <br> And Solutions To Our Customers!</p>
  <hr>
</div>

<!--Card start here-->
<div style="width: 90%; padding-left: 250px; " class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/3.jpg" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">Business Portal</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/4.jpg" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">Mobile Application Development</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/website.webp" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">Website Development</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>

    </div>
  </div>
  <div class="col" style="border: 0;">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/digital.jpg" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">Digital marketing</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.

        </p>
      </div>

    </div>
  </div>
</div>
<br>
<div style="width: 90%; padding-left: 250px; " class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/app.avif" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">App development</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/seo.jpg" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">SEO</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/custom.webp" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">Custom Software</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>

    </div>
  </div>
  <div class="col" style="border: 0;">
    <div class="card h-100" style="border: 0;">
      <img style="border-radius: 5px;" src="assets/img/graphic.jpg" class="card-img-top" alt="...">
      <br>
      <div style="background-color: #E8EBEF; border-radius: 5px;" class="card-body">
        <h5 class="card-title">Graphic Desiging</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.

        </p>
      </div>

    </div>
  </div>
</div>

<div class="call-auction">
  <div class="call-auction-contact">
    <h1> Reach For Auction</h1>
    <h4>Feel free to contact us </h4>
    <hr style="height: 12px; width: 80px; background-color: #F1F4F8  ; margin-left: 430px; border-radius: 8px;">
    <ul id="buttons">
      <li><a href="#">CALL US @ 9100000002</a></li>
      <li><a href="#">CALL US @ 9100000002</a></li>
      <li><a href="#">CALL US @ 9100000002</a></li>

    </ul>
  </div>
  <div class="call-auction-icon">
    <div id="buttons" class="call-auction-icon-1">
      <i style="font-size:70px" class="fa-solid fa-user"></i>
      <h2 style="font-size: 70px;">10</h2>
      <p style="font-size: 25px;">Staffs</p>
    </div>
    <div id="buttons" class="call-auction-icon-2">
      <i style="font-size:70px" class="fa-solid fa-user"></i>
      <h2 style="font-size: 70px;">120</h2>
      <p style="font-size: 25px;">Clients</p>
    </div>
    <div id="buttons" class="call-auction-icon-3">
      <i style="font-size:70px" class="fa-solid fa-check"></i>
      <h2 style="font-size: 70px;">500</h2>
      <p style="font-size: 25px;">Completed Projects</p>
    </div>
    <div id="buttons" class="call-auction-icon-4">
      <i style="font-size:70px" class="fa-solid fa-arrow-trend-up"></i>
      <h2 style="font-size: 70px;">24 * 7</h2>
      <p style="font-size: 25px;">Supports</p>
    </div>
  </div>


</div>

<div class="main-team">
  <h2> Our Main Team of Navbar Universal</h2>
  <p>Our main team comprises passionate individuals from various <br> backgrounds.
    From creative designers to meticulous engineers and <br> skilled marketers,
    we work together synergistically to deliver <br> innovative solutions that exceed expectations.
  </p>
  <hr style="height: 12px; width: 160px; background-color: #79828E; margin-left: 770px; border-radius: 8px;">
</div>

<!--main team profiles-->
<div style="margin-left: 20px; margin-right: 20px;" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="assets/img/office_emp.jpg" class="card-img-top" alt="...">
      <div style="text-align: center; background-color: #EEF2EF ;" class="card-body">
        <h5 class="card-title">Abcxyz Jaiswal</h5>
        <p class="card-text">Co-Founder</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/img/office_emp.jpg" class="card-img-top" alt="...">
      <div style="text-align: center; background-color: #EEF2EF" class="card-body">
        <h5 class="card-title">Abcxyz jaiswal</h5>
        <p class="card-text">Co-Founder</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/img/office_emp.jpg" class="card-img-top" alt="...">
      <div style="text-align: center; background-color: #EEF2EF" class="card-body">
        <h5 class="card-title">Abcxyz</h5>
        <p class="card-text">Co-Founder</p>
      </div>
    </div>
  </div>
</div>


<!--Feedback section-->
<div style="width: 100%; height: 850px; background-color: #EEF2EF ;">
  <h1 style="text-align: center; margin-top: 50px; padding-top: 20px;">REVIEW</h1>
  <br>
  <hr style="height: 12px; width: 160px; background-color: #79828E; margin-left: 770px; border-radius: 8px;">


  <div class="card-group" style="margin: 30px 120px; column-gap: 20px;">

    <div class="card" style="height:600px;">
      <img src="assets/img/person1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaiswal</h5>
        <p class="card-text">This is a wider card with supporting text below as <br> a natural lead-in to additional
          content. <br>
          This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card">
      <img src="assets/img/person2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gupta</h5>
        <p class="card-text">This is a wider card with supporting text below as <br> a natural lead-in to additional
          content. <br>
          This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card">
      <img src="assets/img/person3.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tamang </h5>
        <p class="card-text">This is a wider card with supporting text below as <br> a natural lead-in to additional
          content. <br>
          This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card">
      <img src="assets/img/person4.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Patel </h5>
        <p class="card-text">This is a wider card with supporting text below as <br> a natural lead-in to additional
          content. <br>
          This content is a little bit longer.</p>

      </div>
    </div>

  </div>

</div>

<!--carousel-->