<div class="footer">
    <div class="footer-above">
      <div class="footer-above-left">
          <h3>ABOUT US</h3>
          <br>
          <a href=""><h5>&#10095; Home</h5></a><hr>
          <a href=""><h5>&#10095; About us</h5></a><hr>
          <a href=""><h5>&#10095; Contact us</h5></a><hr>
          <a href=""><h5>&#10095; Clients</h5></a><hr>
          <a href=""><h5>&#10095; Portfolio</h5></a><hr>
          <a href=""><h5>&#10095; Service</h5></a><hr>
          <a href=""><h5>&#10095; Team</h5></a><hr>
          <a href=""><h5>&#10095; Skills</h5></a>
      </div>
      <div class="footer-above-left">
          <h3>USEFUL LINKS</h3>
          <br>
          <a href=""><h5> &#10095; Technology</h5></a><hr>
          <a href=""><h5>&#10095; Digital Marketing</h5></a><hr>
          <a href=""><h5>&#10095; Seo Service</h5></a><hr>
          <a href=""><h5>&#10095; Privacy Policy</h5></a><hr>
          <a href=""><h5>&#10095; Terms & Condintion</h5></a><hr>
          <a href=""><h5>&#10095; Refund Policy</h5></a><hr>
      </div>
      <div class="footer-above-right">
           <h3>CONTACT US</h3>
           <br>
           <h4>Head Office :</h4><br>
          
           <h5> 1C , B1 Sector 11 <br>Abc Uttar Pradesh India </h5><br>
           <h4>Branch Office :</h4>
           <h5> 0 floor , plot no. 0 Block 0, Sector-0 City  <br> State Pradesh,India </h5><br>
           <h4>Branch Office 2 :</h4>
           <h5> 0 floor , plot no. 0 Block 0, Sector-0 City  <br> State Pradesh,India </h5><br>
           <h4><b>Phone :</b> +910000000000 , <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +912222222222 </h4>
           <br>
           <h4><i class="fa-brands fa-twitter"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-brands fa-facebook"></i>  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-linkedin"></i></h4>
  
  <!--&nbsp; used for space -->
  
      </div>
      <div class="footer-above-right">
          <h3>SUBSCRIPTION</h3><br>
          <h5>Join Our News Channel</h5>
          <h4>Abc You tube Channel , <button> <i class="fa-brands fa-youtube"></i>Youtube </button></h4><br>
          <h4><b>Email :</b> abcde6357636@gil.com</h4><br>
          <h4><b>Email :</b> abcde6357636@gil.com</h4><br>
          <button>Pay Now</button>
  
      </div>
  
    </div>
    <div class="footer-bottom">
      <h4>Copyright &copy; 2024 Sandeep Kumar All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed By Sandeep Kumar</h4>
    </div>
  </div>
  